@use "sass:math";

$fromDark: #000006;
$toDark: #f9f9ff;

$fromLight: white;
$toLight: black;

@mixin colors($scheme) {
	$hexList: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, d, e, f);
	$max: 15;

	@for $i from 0 through $max {
		$hexNum: nth($hexList, $i + 1);

		@if ($scheme == "dark") {
			--col-#{$hexNum}: #{mix($toDark, $fromDark, math.div($i * 100%, $max))};
		} @else if ($scheme == "light") {
			--col-#{$hexNum}: #{mix($toLight, $fromLight, math.div($i * 100%, $max))};
		}

		@if ($i != $max) {
			@if ($scheme == "dark") {
				--col-#{$hexNum}8: #{mix($toDark, $fromDark, math.div(($i + 0.5) * 100%, $max))};
			} @else if ($scheme == "light") {
				--col-#{$hexNum}8: #{mix($toLight, $fromLight, math.div(($i + 0.5) * 100%, $max))};
			}
		}
	}

	$bgPercentage: 15%;

	@if ($scheme == "dark") {
		$blue: deepSkyBlue;
		--blue: #{$blue};
		--blue-bg: #{rgba($blue, $bgPercentage)};

		$green: springGreen;
		--green: #{$green};
		--green-bg: #{rgba($green, $bgPercentage)};

		$red: #f24;
		--red: #{$red};
		--red-bg: #{rgba($red, $bgPercentage)};

		$orange: orange;
		--orange: #{$orange};
		--orange-bg: #{rgba($orange, $bgPercentage)};

		--country-green: #0d4;
		--country-red: #{$red};

		--transparent-bg: #{rgba($fromDark, 50%)};
		--transparent-fg: #{rgba($toDark, 7%)};

		--link-blue: lightSkyBlue;
	} @else if ($scheme == "light") {
		$blue: blue;
		--blue: #{$blue};
		--blue-bg: #{rgba($blue, $bgPercentage)};

		// $green: seaGreen;
		$green: #062;
		--green: #{$green};
		--green-bg: #{rgba($green, $bgPercentage)};

		$red: #d13;
		--red: #{$red};
		--red-bg: #{rgba($red, $bgPercentage)};

		// $orange: #e70;
		$orange: #a20;
		--orange: #{$orange};
		--orange-bg: #{rgba($orange, 10%)};

		--country-green: #5e7;
		--country-red: #f55;

		--transparent-bg: #{rgba($fromLight, 50%)};
		--transparent-fg: #{rgba($toLight, 7%)};

		--link-blue: blue;
	}

	button[_action="toggleTheme"] {
		@if ($scheme == "dark") {
			moon {
				display: grid;
			}
		} @else if ($scheme == "light") {
			sun {
				display: grid;
			}
		}
	}
}

:root[color-scheme="dark"] {
	@include colors("dark");
}

:root[color-scheme="light"] {
	@include colors("light");
}
