end-screen {
	display: none; /// flex
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	you-have {
		font-size: 1.5rem;
	}

	score {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;

		:is(correct, total) {
			display: inline-block;
			min-inline-size: 1.2em;
			text-align: center;
			font-size: 2.5rem;
			font-weight: bold;
			padding: 0.1em 0.2em;
			border-radius: 0.4em;
		}

		correct {
			color: var(--green);
			background-color: var(--green-bg);
		}

		total {
			color: var(--blue);
			background-color: var(--blue-bg);
		}

		out-of {
			font-size: 1.5rem;
		}
	}

	score-explanation {
		font-size: 1.5rem;
		text-align: center;
		margin-inline: 1rem;

		incorrect {
			display: inline-block;
			font-weight: bold;
			color: var(--red);
			background-color: var(--red-bg);
			min-inline-size: 1.2em;
			border-radius: 0.4em;
			text-align: center;
			padding: 0.1em 0.2em;
		}
	}

	percentage-container {
		font-size: 2.5rem;
		display: flex;
		align-items: center;
		gap: 0.1em;

		percentage {
			font-weight: bold;
			border-radius: 0.4em;
			padding: 0.1em 0.2em;

			&[data-evaluation="good"] {
				color: var(--green);
				background-color: var(--green-bg);
			}
			&[data-evaluation="medium"] {
				color: var(--orange);
				background-color: var(--orange-bg);
			}
			&[data-evaluation="bad"] {
				color: var(--red);
				background-color: var(--red-bg);
			}

			&::after {
				content: "%";
			}
		}
	}

	continents-explanation {
		margin-inline: 1rem;
		margin-block-start: 0.5rem;
		font-size: 1.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 0.3em 0.1em;

		continents {
			display: contents;

			continent-name {
				padding: 0.1em 0.25em;
				color: var(--blue);
				background-color: var(--blue-bg);
				border-radius: 0.4em;
			}
		}
	}

	:is(conjunction[_text*="comma"], point) {
		margin-inline-start: -0.12em;
	}

	question-answer-mode {
		margin-inline: 1rem;
		margin-block: 0.5rem;
		font-size: 1.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 0.3em 0.1em;

		:is(question-mode, answer-mode) {
			border-radius: 0.4em;
			padding: 0.1em 0.2em;
		}

		question-mode {
			color: var(--green);
			background-color: var(--green-bg);
		}

		answer-mode {
			color: var(--orange);
			background-color: var(--orange-bg);
		}
	}

	button {
		padding: 0.5em 4rem;
		border: none;
		border-radius: 0.4em;
		background-color: var(--green);
		min-inline-size: 25rem;
		font-size: 1.5rem;
		color: var(--col-0);
		font-weight: bold;
		font-family: inherit;
		text-align: center;

		position: relative;
		transition: color 0.3s, background-color 0.3s;

		icon {
			font-size: 2rem;
			display: inline-block;
			position: absolute;
			inset-inline-start: 0;
			inset-block: 0;
			block-size: 100%;
			inline-size: 3rem;

			display: grid;
			place-items: center;
		}

		&[_action="backToStartScreen"] {
			icon {
				font-size: 3rem;
			}
		}

		&:hover {
			background-color: var(--green-bg);
			color: var(--green);
		}
	}
}
