:root {
	min-block-size: 100vh;
	// margin-block-start: env(titlebar-area-height, 0);
	// padding-block-start: env(titlebar-area-height, 0);

	position: fixed;

	// position: relative;
	// inset-block-start: env(titlebar-area-height, 0);
	// inset-inline: 0;
	// inline-size: 100%;
	// inset: 0;
	// inset-block-start: env(titlebar-area-height, 0);
	// overflow: hidden;

	// padding: 1rem;
	// margin: 1rem;

	// border: 1px solid cyan;

	// position: absolute;
	// inset: 0;
	// inset-block-start: env(titlebar-area-height, 0);
	overflow: hidden;
}

* {
	box-sizing: border-box;

	@media all and (hover) {
		-webkit-tap-highlight-color: transparent;
	}
}

body {
	font-family: system-ui;
	margin: 0;
	// padding-block-start: env(titlebar-area-height, 0);
	// min-block-size: 100vh;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;

	background-color: var(--col-18);
	color: var(--col-f);

	// overflow: scroll;

	// border: 1px solid yellow;

	// position: absolute;

	// inset: 0;
	// position: absolute;
	// inset-block-start: env(titlebar-area-height, 0);
	// // inset-block-start: env(titlebar-area-height, 0);

	// overflow: scroll;

	// position: absolute;
	// top: env(titlebar-area-height, 0);
	// left: 0;
	// right: 0;
	// bottom: 0;

	// position: relative;
	// position: absolute;
	// inset: 0;

	// overflow: scroll;

	position: fixed;
	inset: 0;
	inset-block-start: env(titlebar-area-height, 0);
	// overflow-y: scroll;

	// width: 100%;
	// height: 100%;
	// height: 267px;

	// height: calc(100% - env(titlebar-area-height, 0));

	// position: absolute;
	// inset-block-start: env(titlebar-area-height, 0);
	// inset-inline: 0;
	// inline-size: 100%;
	// inset: 0;

	// padding: 1rem;
	// margin: 1rem;
}

button,
label {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

::selection {
	background: var(--green);
	color: var(--col-0);
}

a {
	color: var(--link-blue);
}

::-webkit-scrollbar {
	inline-size: 1rem;
	block-size: 1rem;

	&-button {
		&:start:increment {
			display: none;
		}
		&:end:decrement {
			display: none;
		}
	}

	&-thumb,
	&-button {
		background-color: var(--col-4);
		inline-size: 1rem;
		block-size: 1rem;

		border: 0.25rem solid transparent {
			radius: 0.5rem;
		}

		background-clip: padding-box;

		&:hover {
			background-color: var(--col-6);
		}
	}

	&-corner {
		background: none;
	}
}
