start-screen {
	display: none;
	padding: 0.2rem 0.5rem;
	flex-grow: 1;

	& > * {
		&:not([hidden]) {
			display: flex;
		}
		flex-direction: column;
		gap: 1rem;
		margin-block-end: 0.8rem;
		background-color: var(--col-2);
		padding: 0.8rem;
		border-radius: 1rem;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--green);
		}
	}
}

mobile-warning {
	@media (hover) {
		display: none !important;
	}

	background-color: var(--red-bg);

	warning-sign {
		font-weight: normal;
		display: inline-block;
		block-size: 1.4em;
		inline-size: 1.4em;
		display: inline-grid;
		place-items: center;
		border-radius: 0.3em;
		background-color: var(--red-bg);
		&::before {
			content: "⚠";
		}
	}

	:is(warning-sign, h2) {
		color: var(--red);
	}
}

options-select {
	display: flex;
	gap: 0.7rem;
	flex-wrap: wrap;

	label {
		display: block;
		border-radius: 1.4rem;
		// background-color: var(--col-3);
		transition: background-color 0.3s;

		input:is([type="checkbox"], [type="radio"]) {
			position: absolute;
			opacity: 0;
			pointer-events: none;

			&:focus-visible ~ button {
				outline: 2px solid var(--col-f);

				outline-offset: 3px;
			}

			&:checked ~ button {
				background-color: var(--blue-bg);
				color: var(--blue);

				// border-color: var(--blue);

				--border-width: 3px;
			}
		}

		button {
			pointer-events: none;
			display: block;
			// font-size: 1rem;
			// background-color: var(--col-3);
			// background-color: #8883;
			background-color: var(--transparent-fg);
			// background: none;
			color: var(--col-c);
			// padding: 0.5rem 3rem 5rem;
			border: none {
				radius: inherit;
			}

			--border-width: 0;
			box-shadow: inset 0 0 0 var(--border-width) var(--blue);

			padding: 0.6rem 1rem 0.7rem;

			transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
		}

		&:hover {
			background-color: var(--col-3);
		}
	}
}

:is(question-mode, answer-mode) {
	more-will-be-added {
		font-style: italic;
		color: var(--col-b);
	}
}

continents {
	label.select-all {
		inline-size: fit-content;
		display: flex;
		align-items: center;
		accent-color: var(--blue);
		transition: background-color 0.3s;

		border: none {
			radius: 1.3rem;
		}

		input[type="checkbox"] {
			position: absolute;
			inline-size: 1.3rem;
			block-size: 1.3rem;
			margin-inline-start: 0.9rem;
			outline: none;

			&:focus-visible ~ button {
				outline: 2px solid var(--col-f);

				outline-offset: 3px;
			}

			:is(&:checked ~ button, continents.all-selected options-select button) {
				background-color: var(--blue-bg);
				color: var(--blue);

				--border-width: 3px;
			}
		}

		button {
			background-color: var(--transparent-fg);
			display: inline-block;

			--border-width: 0;
			box-shadow: inset 0 0 0 var(--border-width) var(--blue);
			transition: 0.3s background-color, 0.3s border-color, 0.3s box-shadow;

			font-size: inherit;
			color: var(--col-f);
			pointer-events: none;

			padding: 0.6rem 1rem 0.8rem;
			padding-inline-start: 2.6rem;
			// padding: 0.8rem 0.9rem {
			border: none;
			border-radius: inherit;
		}

		&:hover {
			background-color: var(--col-4);
		}
	}

	options-select {
		button {
			// padding: 0.8rem 1rem;
		}

		label {
			position: relative;
			&::before {
				transition: 0.3s background-color;
				content: "";
				position: absolute;
				inset: 0;
				inline-size: 100%;
				block-size: 100%;
				border-radius: inherit;
			}
		}
	}

	&.all-selected {
		options-select {
			label::before {
				background-color: var(--transparent-bg);
			}
		}
	}
}

languages {
	options-select {
		button {
			min-inline-size: 6rem;
			padding-block-start: 0.3rem;

			language-code {
				display: block;
				font-size: 2rem;
				font-weight: bold;
			}
		}
	}
}

start-quiz {
	padding: 0;
	background-color: transparent;
	display: grid;
	place-items: center;

	button {
		padding: 0.8rem 1rem;
		background-color: var(--green);
		color: var(--col-0);
		inline-size: min(100%, 30rem);
		font-weight: bold;
		font-size: 1.2rem;
		border: none {
			radius: inherit;
		}
		transition: 0.3s background-color, 0.3s color;

		&:hover {
			background-color: var(--green-bg);
			color: var(--green);
		}

		&:disabled {
			cursor: not-allowed;
		}
	}
}
