@use "colors";
@use "global";
@use "icons";

@use "sass:math";

/*

sass scss:_ --watch

*/

body {
	&:not([_loaded]) {
		:is(main, footer) {
			display: none;
		}
	}

	&[_game-state="start"] {
		start-screen {
			display: block;
		}
	}

	&[_game-state="game"] {
		game {
			display: flex;
		}

		nav {
			display: none;
		}
	}
}

titlebar {
	// z-index: 1;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding-inline: 0.6rem;
	overflow: hidden;
	-webkit-app-region: drag;
	app-region: drag;
	position: fixed;
	inset-block-start: env(titlebar-area-y, 0);
	inset-inline-start: env(titlebar-area-x, 0);
	width: env(titlebar-area-width, 0);
	height: env(titlebar-area-height, 0);
	background-color: var(--col-18);

	// font-size: calc(env(titlebar-area-height, 32px) / 2);

	button {
		-webkit-app-region: no-drag;
		app-region: no-drag;

		background: none;
		display: grid;
		place-items: center;
		height: 100%;
		aspect-ratio: 1;
		border: none {
			radius: 0.3rem;
		}
		padding: 0;
		font-size: env(titlebar-area-height) / 2;
		transition: background-color 0.3s;

		&:hover {
			background-color: var(--col-4);
		}
	}
}

nav {
	padding: 0.5rem;
	margin: 0.5rem;
	background-color: var(--green-bg);
	font-weight: bolder;
	display: flex;
	flex-wrap: wrap;
	$borderWidth: 4px;
	$gap: 12px;
	gap: $gap;
	border-radius: 1rem;

	& > * {
		padding: 0;
		aspect-ratio: 1/1;
		box-sizing: content-box;
		display: grid;
		place-items: center;

		inline-size: 2.3rem;
		// inline-size: 5rem;
		aspect-ratio: 1;

		font-size: 1.4rem;
		// font-size: 2.9rem;
		background-color: var(--green-bg);
		border: none {
			radius: 0.7rem;
		}
		color: var(--col-f);

		vertical-align: top;

		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: var(--green);
			color: var(--col-0);
		}

		&:not(:last-child) {
			position: relative;
			&::after {
				content: "";
				background-color: var(--green-bg);
				$verticalMargin: 0.35rem;
				margin: #{$verticalMargin} 0;
				block-size: calc(100% - #{$verticalMargin} * 2);
				inline-size: $borderWidth;
				border-radius: 1rem;
				position: absolute;
				inset-inline-end: 0;
				transform: translateX(#{math.div(($gap + $borderWidth), 2)});
			}
		}

		&[_action="toggleFullscreen"] {
			@media all and (display-mode: fullscreen) {
				disable-fullscreen {
					display: grid;
				}
			}
			@media not all and (display-mode: fullscreen) {
				enable-fullscreen {
					display: grid;
				}
			}
		}
	}
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

start-screen {
	display: none;
	padding: 0.2rem 0.5rem;
	flex-grow: 1;

	& > * {
		&:not([hidden]) {
			display: flex;
		}
		flex-direction: column;
		gap: 1rem;
		margin-block-end: 0.8rem;
		background-color: var(--col-2);
		padding: 0.8rem;
		border-radius: 1rem;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--green);
		}
	}
}

mobile-warning {
	@media (hover) {
		display: none !important;
	}

	background-color: var(--red-bg);

	warning-sign {
		font-weight: normal;
		display: inline-block;
		block-size: 1.4em;
		inline-size: 1.4em;
		display: inline-grid;
		place-items: center;
		border-radius: 0.3em;
		background-color: var(--red-bg);
	}

	:is(warning-sign, h2) {
		color: var(--red);
	}
}

options-select {
	display: flex;
	gap: 0.7rem;
	flex-wrap: wrap;

	label {
		display: block;
		border-radius: 1.4rem;
		// background-color: var(--col-3);
		transition: background-color 0.3s;

		input:is([type="checkbox"], [type="radio"]) {
			position: absolute;
			opacity: 0;
			pointer-events: none;

			&:focus-visible ~ button {
				outline: 2px solid var(--col-f);

				outline-offset: 3px;
			}

			&:checked ~ button {
				background-color: var(--blue-bg);
				color: var(--blue);

				// border-color: var(--blue);

				--border-width: 3px;
			}
		}

		button {
			pointer-events: none;
			display: block;
			// background-color: var(--col-3);
			// background-color: #8883;
			background-color: var(--transparent-fg);
			// background: none;
			color: var(--col-c);
			padding: 0.5rem;
			border: none {
				radius: inherit;
			}

			--border-width: 0;
			box-shadow: inset 0 0 0 var(--border-width) var(--blue);

			padding: 0.8em 1em;

			transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
		}

		&:hover {
			background-color: var(--col-3);
		}
	}
}

:is(question-mode, answer-mode) {
	more-will-be-added {
		font-style: italic;
		color: var(--col-b);
	}
}

continents {
	label.select-all {
		inline-size: fit-content;
		display: flex;
		align-items: center;
		accent-color: var(--blue);
		// background-color: var(--col-3);
		// background-color: var(--col-3);
		transition: background-color 0.3s;

		border: none {
			radius: 1.3rem;
		}

		input[type="checkbox"] {
			position: absolute;
			inline-size: 1.3rem;
			block-size: 1.3rem;
			margin-inline-start: 0.9rem;
			outline: none;

			&:focus-visible ~ button {
				outline: 2px solid var(--col-f);

				outline-offset: 3px;
			}

			:is(&:checked ~ button, continents.all-selected options-select button) {
				background-color: var(--blue-bg);
				color: var(--blue);

				--border-width: 3px;
			}
		}

		button {
			background-color: var(--transparent-fg);
			display: inline-block;

			--border-width: 0;
			box-shadow: inset 0 0 0 var(--border-width) var(--blue);
			transition: 0.3s background-color, 0.3s border-color, 0.3s box-shadow;

			font-size: inherit;
			color: var(--col-f);
			pointer-events: none;

			padding: 0.8rem 0.9rem {
				inline-start: 2.6rem;
			}
			border: none {
				radius: inherit;
			}
		}

		&:hover {
			background-color: var(--col-4);
		}
	}

	options-select {
		button {
			padding: 0.8em 1em;
		}

		label {
			position: relative;
			&::before {
				transition: 0.3s background-color;
				content: "";
				position: absolute;
				inset: 0;
				inline-size: 100%;
				block-size: 100%;
				border-radius: inherit;
			}
		}
	}

	&.all-selected {
		options-select {
			label::before {
				background-color: var(--transparent-bg);
			}
		}
	}
}

languages {
	options-select {
		button {
			min-inline-size: 6rem;

			language-code {
				display: block;
				font-size: 2rem;
				font-weight: bold;
			}
		}
	}
}

start-quiz {
	padding: 0;
	background-color: transparent;
	display: grid;
	place-items: center;
	button {
		padding: 0.8em 1em;
		background-color: var(--green);
		color: var(--col-0);
		inline-size: min(100%, 30rem);
		font-weight: bold;
		font-size: 1.2rem;
		border: none {
			radius: inherit;
		}
		transition: 0.3s background-color, 0.3s color;

		&:hover {
			background-color: var(--green-bg);
			color: var(--green);
		}
	}
}

game {
	display: none;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	user-select: none;

	:is(before-canvas, after-canvas) {
		background-color: var(--col-2);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.4rem;
		place-items: center;
		min-block-size: 4rem;
		font-size: 2rem;
	}

	before-canvas {
		display: flex;
		align-items: center;

		padding-inline: 0.45rem;

		score {
			display: flex;
			gap: 0.2em;

			& > * {
				display: flex;
				align-items: center;
				padding: 0 0.5rem;
				padding-block-end: 0.15rem;
				block-size: fit-content;
				overflow: hidden;
				border-radius: 0.8rem;
			}

			correct-incorrect {
				gap: 0.2rem;
				background-color: var(--col-3);

				correct {
					color: var(--green);
				}
				incorrect {
					color: var(--red);
				}
			}

			remaining {
				display: inline-block;
				color: var(--blue);
				background-color: var(--blue-bg);
				min-inline-size: 1.5em;
				text-align: center;
			}

			percentage {
				color: var(--green);
				background-color: var(--green-bg);
			}
		}

		flag-and-country {
			flex-grow: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;

			flag {
				display: inline-block;
				inline-size: 5rem;
				block-size: 3rem;

				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}
	}

	canvas-container {
		position: relative;

		flex-grow: 1;
		flex-direction: column;

		canvas {
			display: block;
			position: absolute;
			inline-size: 100%;
			block-size: 100%;
		}
	}
}

noscript {
	display: block;
	margin: 0.5rem;
	padding: 0.5rem 0.7rem;
	background-color: var(--red-bg);
	$borderWidth: 2px;
	color: #{darkLight(salmon, darkRed)};
	border: none {
		radius: 0.8rem;
	}
}

footer {
	background-color: var(--col-2);
	padding: 0.3rem;
	text-align: center;

	heart::before {
		/// circumvent insufficient color contrast
		content: "❤";
		color: var(--red);
	}
}
