@use "colors";

@use "components";

@import "functions-mixins";

/*

sass scss:. --watch --embed-source-map

*/

:root {
}

* {
	box-sizing: border-box;
}

body {
	font-family: system-ui;
	margin: 0;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;

	& > input#theme-toggle {
		display: none;
		position: absolute;
	}
}

button,
button > label {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

::selection {
	background: var(--green);
	color: var(--col-0);
}

a {
	color: #{darkLight(lightSkyBlue, blue)};
}
