@charset "UTF-8";
input#theme-toggle:not(:checked) ~ actual-content {
  --is-light: 0;
}
input#theme-toggle:not(:checked) ~ actual-content label::before {
  content: "🌙︎";
}
input#theme-toggle:checked ~ actual-content {
  --is-light: 1;
}
input#theme-toggle:checked ~ actual-content label::before {
  content: "☀︎";
}

actual-content {
  --is-light: 0;
  --col-0: rgb(calc(var(--is-light)*255),calc(1 + var(--is-light)*254),calc(2 + var(--is-light)*253));
  --col-08: rgb(calc(8 + var(--is-light)*239),calc(9 + var(--is-light)*238),calc(10 + var(--is-light)*237));
  --col-1: rgb(calc(17 + var(--is-light)*221),calc(18 + var(--is-light)*220),calc(19 + var(--is-light)*219));
  --col-18: rgb(calc(25 + var(--is-light)*205),calc(26 + var(--is-light)*204),calc(27 + var(--is-light)*203));
  --col-2: rgb(calc(34 + var(--is-light)*187),calc(35 + var(--is-light)*186),calc(36 + var(--is-light)*185));
  --col-28: rgb(calc(42 + var(--is-light)*171),calc(43 + var(--is-light)*170),calc(44 + var(--is-light)*169));
  --col-3: rgb(calc(51 + var(--is-light)*153),calc(52 + var(--is-light)*152),calc(53 + var(--is-light)*151));
  --col-38: rgb(calc(59 + var(--is-light)*137),calc(60 + var(--is-light)*136),calc(61 + var(--is-light)*135));
  --col-4: rgb(calc(67 + var(--is-light)*120),calc(68 + var(--is-light)*119),calc(69 + var(--is-light)*118));
  --col-48: rgb(calc(76 + var(--is-light)*103),calc(77 + var(--is-light)*102),calc(78 + var(--is-light)*101));
  --col-5: rgb(calc(84 + var(--is-light)*86),calc(85 + var(--is-light)*85),calc(86 + var(--is-light)*84));
  --col-58: rgb(calc(93 + var(--is-light)*69),calc(94 + var(--is-light)*68),calc(95 + var(--is-light)*67));
  --col-6: rgb(calc(101 + var(--is-light)*52),calc(102 + var(--is-light)*51),calc(103 + var(--is-light)*50));
  --col-68: rgb(calc(110 + var(--is-light)*35),calc(111 + var(--is-light)*34),calc(112 + var(--is-light)*33));
  --col-7: rgb(calc(118 + var(--is-light)*18),calc(119 + var(--is-light)*17),calc(120 + var(--is-light)*16));
  --col-78: rgb(calc(127 + var(--is-light)*1),128,calc(129 - var(--is-light)*1));
  --col-8: rgb(calc(135 - var(--is-light)*16),calc(136 - var(--is-light)*17),calc(137 - var(--is-light)*18));
  --col-88: rgb(calc(143 - var(--is-light)*32),calc(144 - var(--is-light)*33),calc(145 - var(--is-light)*34));
  --col-9: rgb(calc(152 - var(--is-light)*50),calc(153 - var(--is-light)*51),calc(154 - var(--is-light)*52));
  --col-98: rgb(calc(160 - var(--is-light)*66),calc(161 - var(--is-light)*67),calc(162 - var(--is-light)*68));
  --col-a: rgb(calc(169 - var(--is-light)*84),calc(170 - var(--is-light)*85),calc(171 - var(--is-light)*86));
  --col-a8: rgb(calc(177 - var(--is-light)*100),calc(178 - var(--is-light)*101),calc(179 - var(--is-light)*102));
  --col-b: rgb(calc(186 - var(--is-light)*118),calc(187 - var(--is-light)*119),calc(188 - var(--is-light)*120));
  --col-b8: rgb(calc(194 - var(--is-light)*134),calc(195 - var(--is-light)*135),calc(196 - var(--is-light)*136));
  --col-c: rgb(calc(202 - var(--is-light)*151),calc(203 - var(--is-light)*152),calc(204 - var(--is-light)*153));
  --col-c8: rgb(calc(211 - var(--is-light)*168),calc(212 - var(--is-light)*169),calc(213 - var(--is-light)*170));
  --col-d: rgb(calc(219 - var(--is-light)*185),calc(220 - var(--is-light)*186),calc(221 - var(--is-light)*187));
  --col-d8: rgb(calc(228 - var(--is-light)*202),calc(229 - var(--is-light)*203),calc(230 - var(--is-light)*204));
  --col-e: rgb(calc(236 - var(--is-light)*219),calc(237 - var(--is-light)*220),calc(238 - var(--is-light)*221));
  --col-e8: rgb(calc(245 - var(--is-light)*236),calc(246 - var(--is-light)*237),calc(247 - var(--is-light)*238));
  --col-f: rgb(calc(253 - var(--is-light)*253),calc(254 - var(--is-light)*254),calc(255 - var(--is-light)*255));
  --extr-bg: rgb(calc(var(--is-light)*255),calc(var(--is-light)*255),calc(var(--is-light)*255));
  --blue: rgb(calc(var(--is-light)*30),calc(191 - var(--is-light)*47),255);
  --blue-bg: rgba(calc(var(--is-light)*30),calc(191 - var(--is-light)*47),255,0.15);
  --green: rgb(calc(85 - var(--is-light)*85),calc(255 - var(--is-light)*127),calc(119 - var(--is-light)*119));
  --green-bg: rgba(calc(85 - var(--is-light)*85),calc(255 - var(--is-light)*127),calc(119 - var(--is-light)*119),0.15);
  --red: rgb(255,0,0);
  --red-bg: rgba(255,0,0,0.15);
}

/*

sass scss:. --watch --embed-source-map

*/
* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}
body > input#theme-toggle {
  display: none;
  position: absolute;
}

actual-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--col-18);
  color: var(--col-f);
  padding: 0.5rem;
}
actual-content main {
  flex-grow: 1;
}

nav {
  padding: 0.5rem;
  background-color: var(--green-bg);
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.6rem + 2px);
  border: 2px solid var(--green);
  border-radius: 1rem;
}
nav > button {
  --mirror: 0;
  padding: 0;
  border: none;
  aspect-ratio: 1/1;
  box-sizing: content-box;
  display: inline-block;
  display: grid;
  place-items: center;
  width: 1.6em;
  height: 1.6em;
  font-size: 1.5rem;
  background-color: var(--green-bg);
  border-radius: 0.5em;
  color: var(--col-e);
  vertical-align: top;
}
nav > button:not(:last-of-type) {
  position: relative;
}
nav > button:not(:last-of-type)::after {
  content: "";
  background-color: var(--green);
  margin: 0.35em 0;
  box-sizing: border-box;
  background-clip: content-box;
  height: calc(100% - 0.35em * 2);
  width: 2px;
  border-radius: 1em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(calc((calc(0.6rem + 2px) + 2px) / 2));
}

noscript {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: var(--red-bg);
  color: rgb(calc(250 - var(--is-light)*111),calc(128 - var(--is-light)*128),calc(114 - var(--is-light)*114));
  border: 3px solid var(--red);
  border-radius: 1rem;
}

button.theme-toggler label {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22scss/_colors.scss%22,%22scss/style.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAKC;EACC;;AAEC;EACC;;AAIH;EACC;;AAEC;EACC;;;AAYJ;EACC;EAWC;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAMC;EAND;EAUD;EAIA;EACA;EAIA;EACA;EAIA;EACA;;;AC9DD;;AAAA;;AAAA;AASA;EACC;;;AAGD;EACC;EACA;EACA;EACA;;AAEA;EACC;EACA;;;AAIF;EACC;EACA;EACA;EACA;EACA;EACA;;AAEA;EACC;;;AAIF;EACC;EACA;EACA;EACA;EAGA,KADM;EAEN;EACC;;AAGD;EACC;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EAEA;EACA;EACA;EACA;EAEA;;AAEA;EACC;;AACA;EACC;EACA;EAEA;EACA;EACA;EACA;EACA,OAtCW;EAuCX;EACA;EACA;EACA;EACA;EACA;;;AAMJ;EACC;EACA;EACA;EACA;EAEA;EACA;EACC;;;AAKD;EACC;EACA;EACA;EACA%22,%22file%22:%22style.css%22%7D */
